$mainDivWidth: 450px;
$tasksMarginLeft: 10px;

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(wp8828674.webp);
     /* background: linear-gradient(45deg, #a000f6, #ff0000); */
    font-family: 'Emblema One', sans-serif;
    color: white;
}

#mainDiv {
    height: 67vh;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

#header {
    border: 1px solid #fff;
    border-radius: 10px 10px 0 0;
    width: 450px;
    height: 75px;
    position: absolute;
    top: -2px; /* Half of the header's height to make it overlap */
    display: flex;
    align-items: center;
}

#lists {
    font-size: smaller;
    padding: 5px;
    width: 150px; /* Set the width to control the dropdown size */
}

.btn {
    font-size: 14px;
    height: 40px; /* Make the button the same height as the select tag */
    background-color: rgb(255, 255, 255); /* 0.5 alpha corresponds to 50% transparency */
}

.btn2 {
    font-size: 14px;
    height: 40px; /* Make the button the same height as the select tag */
    width: 100px;
    background-color: rgb(255, 255, 255); /* 0.5 alpha corresponds to 50% transparency */
    border: 1px solid #000000;
    border-radius: 10px 10px;
}

.custom-size {
    max-width: 100%;
}

.hover:hover {
    cursor: pointer;
}

#title span {
    display: inline-block;
}


#openedList {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

#title {
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
    left: 10px;
    width: 425px;
}

#tasks {
    margin-top: 140px; /* Adjust the margin-top as needed */
    margin-left: 10px; /* Adjust the margin-left as needed */
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: calc(67vh - 140px);
}

#tasks span {
    margin-bottom: 5px; /* Adjust the margin-bottom for vertical alignment */
}

#tasks input[type="checkbox"] {
    margin-right: 5px; /* Adjust the margin-right as needed */
}

#tasks span input[type="checkbox"] {
    margin-bottom: 18px; /* Adjust the margin-top for vertical alignment */
}

.Task2 {
    margin-bottom: 18px;
    margin-right: 10px;
}

#tasks span p {
    margin-left: 10px;
    margin-right: 10px;
}

#title h3 {
    margin-right: 10px;
}

#tasks div {
    display: flex;
    align-items: center;
}

#idAddTask {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

#taskFinish {
    display: flex;
    justify-content: space-between;
    width: 425px;
    margin-bottom: 10px;
}

#nameNewTask {
    width: 400px;
    margin-bottom: 12px;
}